@import '_normalize';

.logview-page-wrapper {
  margin: 25px;
}

.logview-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  .controls {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 250px;
  }
}
