{% extends "base.html" %}
{% block content %}
  <div class="main-content">
    <fieldset>
      <div class="bike-info">Bike: none</div>
      <button class="bike-btn">Get bike</button>
    </fieldset>
    <fieldset>
      <input type="text" id="event">
      <label for="event">Maintenance event</label>
      <button class="distance-btn">Get distance</button>
      <p class="distance-info"></p>
    </fieldset>
    <fieldset>
      <input type="text" id="eventType" placeholder="event description">
      <input type="text" id="eventDate" placeholder="YYYY-MM-DD-HH-mm">
      <input type="text" id="note" placeholder="note">
      <button class="eventPostBtn">Add maintenance event</button>
    </fieldset>
    <fieldset>
      <button class="get-all-events">Get all events</button>
    </fieldset>
    <div class="event-list"></div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
